@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::selection {
  background: $purple;
  color: $white;
}

// index styles
 


.single{
  display:flex;
  flex-direction:column;
  margin: 0 3rem;

  .single__info{
    font-family: "Poppins", sans-serif;
    overflow: visible;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    font-weight: bold;
    fill: transparent;
    stroke: $white;
     
  }

  .player{
     display: flex;
     justify-content:flex-start;
     align-items:center;
    
    

    .player__time{
      margin: 0 0.3rem;
      &::after{
        content: "-";
        margin: 0 0.3rem;
      }
    }
    .player__length{
      margin: 0 0.1rem;
    }
    .player__seekbar{
      background-color: $gray;
      height:0.3rem;
      display: inline;
      margin: 0 0.5rem;
      border-radius:3rem;
      width: 100%;
      overflow: hidden;
      .player__seekbar__slider{
        background-color:$white;
        width:0rem;

      }
    }
    .player__control{
      color:$gray;
    }
  }

}




header {
  background-image: url("/images/banner-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; //parallax effect
  height: 30rem;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: $white;
  position: relative;
  nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    padding: 0rem 0.688rem;
    align-items: center;
    justify-content: space-around;
    //padding:0.5rem 1rem;
    position: sticky;
    top: 1rem;
    z-index: 10000;
    //background-color: $gray-dark;

    .logo {
      padding-top: 1rem;
      img {
        content: url("/images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    // wrapper of navbar
    .wrapper {
      display: flex;
      flex-direction: row;
      //padding: 0rem 0.688rem;
      align-items: center;

      .wrapper__nav {
        list-style-type: none;
        .wrapper__nav__item {
          display: inline;
          margin-left: 2rem;
          a {
            text-decoration: none;
            color: $white;
            font-size: 0.938rem;
            display: inline-block;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;

            &:hover {
              color: $gray;
            }
          }
        }
      }

      .wrapper__nav-share {
        list-style-type: none;
        .wrapper__nav-share__item {
          display: inline;
          margin-left: 2rem;
          a {
            text-decoration: none;
            color: $gray;
            font-size: 1.2rem;
            display: inline-block;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;

            &:hover {
              color: $white;
            }
          }
        }
      }
      .wrapper__nav {
        list-style-type: none;
        .wrapper__nav__item {
          display: inline;
          margin-left: 2rem;
          a {
            text-decoration: none;
            color: $white;
            font-size: 0.938rem;
            display: inline-block;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;

            &:hover {
              color: $gray;
            }
          }
        }
      }
      // hamburger and ellipsis toggle menu
      .hamburger {
        //order: -1;
        display: inline-block;
        margin-left: 1rem;
        font-size: 1rem;
        width: 2rem;
        height: 3rem;
        cursor: pointer;
      }
    }

    // hamburger and ellipsis toggle menu
    .hamburger {
      //order: -1;
      display: inline-block;
      margin-left: 2rem;
      font-size: 1rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }

    .ellipsis {
      display: none;
      margin-left: 2rem;
      font-size: 1rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  h1 {
    align-self: center;
    margin-top: 6rem;
  }

  .breadcrumbs {
    list-style-type: none;
    align-self: center;
    padding: 3rem;

    .breadcrumbs__item {
      display: inline;
      padding: 0rem 1rem;

      a {
        text-decoration: none;
        color: $white;
        font-size: 0.813rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0.313rem;
          height: 0.313rem;
          border-radius: 50%;
          top: 50%;
          right: -1rem;
          display: inline-block;
          background: $yellow;
          transform: translate3d(0, -50%, 0);
        }
      }
    }
  }
}
// banner of the home pageYOffset
#home_nav {
  background-image: url("/images/homapage-banner-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   
}
.sticky {
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: $gray-dark;
}
gallery .zoom {
  position: absolute;
  top: 0;

  width: 5rem;
  height: 5rem;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0 0 0 0.6rem rgba(204, 199, 199, 0.3);
  //transition:1s;
  //transform: translate(-50%, -50%);
  &::before {
    content: "Zoom";
    position: absolute;
    top: 1.5rem;
    left: 1rem;
  }

  &:hover {
    box-shadow: 0 0 0 1rem rgba(204, 199, 199, 0.3);
  }
}

.gallery {
  display: grid;
  margin: 8rem 0;
  grid-template-columns: repeat(1, auto);
  row-gap: 2rem;
  position: relative;
  column-gap: 2rem;

  .gallery__1 {
    position: relative;
    img {
      content: url("/images/gallery-1.jpg");
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__2 {
    position: relative;
    img {
      content: url("/images/gallery-2.jpg");

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__3 {
    position: relative;
    img {
      content: url("/images/gallery-3.jpg");

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__4 {
    position: relative;
    img {
      content: url("/images/gallery-4.jpg");

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__5 {
    position: relative;
    img {
      content: url("/images/gallery-5.jpg");

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__6 {
    position: relative;
    img {
      content: url("/images/gallery-6.jpg");

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__7 {
    position: relative;
    img {
      content: url("/images/gallery-7.jpg");
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__8 {
    position: relative;
    img {
      content: url("/images/gallery-8.jpg");
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__9 {
    position: relative;
    img {
      content: url("/images/gallery-9.jpg");
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__10 {
    position: relative;
    img {
      content: url("/images/gallery-10.jpg");

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__11 {
    position: relative;
    img {
      content: url("/images/gallery-11.jpg");
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__12 {
    position: relative;
    img {
      content: url("/images/gallery-12.jpg");
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gallery {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background: #282828;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footerlogo {
  margin-top: 40px;
  margin-bottom: 30px;
}

#footerlist {
  list-style: none;
  li {
    padding: 10px;
  }
}

.btn {
  display: inline-block;
  width: 100px;
  background: #444444;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 30px;
  line-height: 50px;
}

#footercopyright {
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 14px;
  color: #6c757d;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(21, 21, 21, 0.8);
  background-color: $white;
  letter-spacing: -0.03em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  color: #151515;
  letter-spacing: 0;
}
h4 {
  font-size: 1.375rem;
  font-weight: 500;
}
.header-centered {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center !important;
  font-size: 1.6rem;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  margin-bottom: 2rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-links {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.group-informations {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -3.125rem;
  &-name {
    display: inline-flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-light;
    &-DJ {
      font-weight: 500;
      margin-right: 1rem;
    }
  }
  &-image {
    margin-top: 2rem;
  }
  &-list {
    padding-top: 1.688rem;
  }
}
.fa {
  &-phone,
  &-envelope {
    font-size: 1.25rem;
    color: $gray-light;
    margin-right: 0.625rem;
  }
  &-facebook-f,
  &-instagram,
  &-twitter,
  &-youtube {
    font-size: 1.375rem;
    line-height: 1.2;
  }
}
.section-infos {
  padding: 3.438rem 0;
}
a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #151515;
  text-decoration: none;
  background-color: transparent;
  &:focus,
  &:active {
    color: $purple;
  }
}
p {
  margin-top: 0.625rem;
}
.sign {
  text-align: right;
}
.italic {
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
}
.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.875rem 2.188rem;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid;
  border-radius: 0.313rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  color: $white;
  background-color: $purple;
  border-color: $purple;
}
.bigicons {
  display: block;
  font-size: 4rem;
  color: $purple;
}

.section-music {
  background-image: url(/images/bg-circle-2.png);
  background-size: cover;
  background-position: center center;
  background-color: $bggray;
  padding-bottom: 2rem;
}

.flexbox-container,
.flexibox-container {
  display: flex;
  flex-wrap: wrap;
}

.group-music,
.group-releases {
  text-align: center;
  &-paragraphs {
    opacity: 0.8;
  }
  &-date {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 400;
    color: rgba(21, 21, 21, 0.8);
  }
}

.section-releases {
  margin-right: 10%;
  margin-left: 10%;
}

.box-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  &-infos {
    margin-top: 1rem;
  }
}

.albumsimg1 {
  margin-top: 60px;
  max-width: 90%;
}

.albumsimg2,
.albumsimg3,
.albumsimg4,
.albumsimg5,
.albumsimg6 {
  max-width: 90%;
}

.albumsdetails {
  padding-bottom: 2rem;
}

#active {
  &-list {
    border-bottom: 5px solid $purple;
    color: $white;
    padding: 0.063rem 4rem; //breaks the design if screen < 300 width but I don't think it's an issue
  }
}

.flexbox-tours-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}
.carrousel {
  color: $gray-light;
  &:hover {
    border-bottom: 5px solid $purple;
    color: $white;
    padding: 0.063rem 4rem;
  }
}
.scheduler-content {
  background: $white;
  padding: 40px 20px;
  border: 1px solid $gray-light;
  text-align: left;
  &-month {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
}
.active-content {
  visibility: visible;
  height: auto;
  overflow: visible;
}
.dot {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid $gray-light;
}
.active-dot {
  position: absolute;
  background-color: $purple;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.month {
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 1.25rem 1.875rem;
    background: #212121;
    flex-direction: column;
    text-align: center;
    border-radius: 0.625rem 0.625rem 0 0;
  }
  &-item {
    padding: 1rem;
  }
}
.event {
  &-button {
    font-weight: 600;
    font-size: 0.8rem;
  }
  &-container {
    display: flex;
    flex-direction: column;
  }
}
.scheduler-content-item {
  position: relative;
  padding-left: 3.75rem;
  &::before {
    position: absolute;
    content: "";
    top: 2rem;
    bottom: -0.7rem;
    left: 1rem;
    border-left: 1px solid $gray-light;
  }
}
.section-tour {
  background-color: $bggray;
  padding: 5rem 0;
}
#scroll-up-button {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $purple;
  color: $white;
  cursor: pointer;
  padding: 1.5rem 1.7rem;
  border-radius: 0.6rem;
  &:hover {
    background-color: black;
  }
}

.imgAboutdj {
  border-radius: 5%;
}

.aboutDj {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 3%;
  margin-right: 3%;

  h3 {
    font-size: 1.6rem;
  }
}

.quote {
  margin-right: 5%;
  margin-left: 5%;
  font-size: 18px;
}

.group-releases-paragraphs,
.group-releases-date {
  margin-bottom: 30px;
}
.next-gig {
  &-container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-image: url("/images/bg-counter.jpg");
    background-color: $gray-dark;
    color: $white;
  }
}

.Fanbase {
  
  background-image: url('/images/bg-circle-1.png');
  background-color: #282828;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;

  img {
    border-radius: 5%;
  }

  .fanbaseimg1 {
    float: right;
    margin-right: 10%;
  }

  .fanbaseimg3 {
    max-width: 50%;
    float: left;
    margin-left: 10%;
  }

  .fanbaseimg6 {
    margin-left: 20%;
    
  }


  .fanbasejoin {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
  }

  h3,
  h4{
    color: white;
    padding-top: 40px;
  }
}

///////////////// Tablet design /////////////////

@media screen and (min-width: 480px) {
  //gallery for tablet design
  .gallery {
    display: grid;
    margin: 8rem 0;
    grid-template-columns: repeat(3, auto);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  #footerlist {
    li {
      display: inline-block;
      padding: 20px;
    }
  }

  .btn {
    margin: 10px;
  }
  .group-informations-list > li {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .group-informations-list-social-media-element {
    display: block !important;
  }
  .section-music {
    padding: 5rem 0;
  }
  .flex-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .box-container {
    flex-direction: row;
    text-align: left;
    &-icon {
      margin-right: 1rem;
    }
  }

  .albumsimg1,
  .albumsimg2 {
    margin-top: 60px;
    max-width: 90%;
  }
  .albumsimg3,
  .albumsimg4,
  .albumsimg5,
  .albumsimg6 {
    max-width: 90%;
  }
  .albumsdetails {
    padding-bottom: 2rem;
  }

  .month-list {
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
  }
}

///////////////// Desktop design /////////////////

@media screen and (min-width: 800px) {
  //gallery for desktop design
  .gallery {
    display: grid;
    margin: 8rem 0;
    grid-template-columns: repeat(4, auto);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .flex-container {
    flex: 0 0 33%;
    max-width: 31%;
  }
  .flexbox-container {
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .flexi-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #footerlogo {
    padding-top: 60px;
  }

  #footerlist {
    li {
      display: inline-block;
      padding: 10px;
    }
  }

  .footersocialmedia {
    margin-top: 40px;
  }

  #footercopyright {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .albumsimg1,
  .albumsimg2,
  .albumsimg3 {
    margin-top: 60px;
    max-width: 90%;
  }
  .albumsimg4,
  .albumsimg5,
  .albumsimg6 {
    max-width: 90%;
  }
  .albumsdetails {
    padding-bottom: 2rem;
  }

  .section-releases {
    max-width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .month-list {
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
  }
  .event-container {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    &-content {
      max-width: 40rem;
    }
  }
}
